<div class="container">
    <br>
    <h2>Hoteles</h2>
    <div class="card">
        <div class="card-header">
            <div class="float-end">
                <button type="button" class="btn btn-outline-primary" (click)="addHotel()">Nuevo hotel</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Última actualización</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hotel of hotels$ | async">
                        <th scope="row"><span class="align-middle">{{hotel.id}}</span></th>
                        <td><span class="align-middle">{{hotel.name}}</span></td>
                        <td><span class="align-middle">{{hotel.description}}</span></td>
                        <td><span class="align-middle">{{hotel.createdDate | date: "dd/MM/YYYY"}}</span></td>
                        <td><span class="align-middle">{{hotel.lastUpdatedDate | date: "dd/MM/YYYY"}}</span></td>
                        <td>
                            <div class="">
                                <button type="button" class="btn btn-outline-primary btn-sm">Editar</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2 float-end">
                <ngb-pagination
                    [collectionSize]="collectionSize"
                    [(page)]="page"
                    [pageSize]="pageSize"
                >
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>