<div class="container">
    <br>
    <h2>Administrar destinos</h2>
    <div class="card">
        <div class="card-body">
            <span style="display: block;">Filtros</span>
        </div>
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-outline-primary" (click)="addDestination()">
            <fa-icon [icon]="faPlus"></fa-icon>&nbsp;&nbsp;
            Nuevo destino
        </button>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Cantidad de hoteles</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Última actualización</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let destination of destinations$ | async">
                        <th scope="row"><span class="align-middle">{{destination.id}}</span></th>
                        <td><span class="align-middle">{{destination.name}}</span></td>
                        <td><span class="align-middle">{{destination.description}}</span></td>
                        <td><span class="align-middle">{{destination.hotelQuantity}}</span></td>
                        <td><span class="align-middle">{{destination.createdDate | date: "dd/MM/YYYY"}}</span></td>
                        <td><span class="align-middle">{{destination.lastUpdatedDate | date: "dd/MM/YYYY"}}</span></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acción
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" (click)="updateDestination(destination)">
                                        <fa-icon [icon]="faPen"></fa-icon>&nbsp;&nbsp;
                                        Editar
                                    </a></li>
                                    <li><a class="dropdown-item" (click)="deleteDestination(destination.id)">
                                        <fa-icon [icon]="faTrash"></fa-icon>&nbsp;&nbsp;
                                        Eliminar
                                    </a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" (click)="editHotels(destination)">
                                        <fa-icon [icon]="faPen"></fa-icon>&nbsp;&nbsp;
                                        Hoteles
                                    </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2 float-end">
                <ngb-pagination
                    [collectionSize]="collectionSize"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    (pageChange)="getDestinations()"
                >
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>